body{
  /* min-width: 650px; */
  min-height: 250px;
  margin: 0;
  padding: 0;
  font-family:"ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana
  ,"ＭＳ Ｐゴシック",sans-serif;
}

h1,h2{
  margin: 0;
  padding: 0;
}

#main{
  width: 350px;
  height: 300px;
  /*display: table;*/
  position: relative;
  box-sizing: border-box;
  background-color: #ffb199;
}

/** ログイン画面用*/
#login_content{
  /*height: 100%;*/
  text-align: center;
  padding: 35px;
}

#login_content .input_title{
  display: inline-block;
  width: 46px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  letter-spacing: 2px;
}

.input_area{
    display: inline-block;
    padding-left: 24px;
}

#login_button{
  width: 60px;
  display: inline-block;
  background-color: #ffffff;
  color: #ffb199;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#setting_contents{
  /*text-align: center;*/
  padding: 15px;
}

.send_button_area{
  padding-left: 10px;
  text-align: center;
  background-color: #ffffff;
}

.send_image_button,
.show_position{
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.setting_option{
  text-align: right;
  font-size: 15px;
}

.on.selected,
.off.selected,
.pop{
  background-image: url('../image/circle.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.menu_header{
  position: absolute;
  width: 350px;
  height: 30px;
  background-color: red;
}
